@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}


body {
  background: var(--background);
  color: var(--foreground);
  /* CHANGE THIS LINE to use your custom font */
  font-family: 'helvatica-neue-lt', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'helvatica-neue-lt', sans-serif;
  font-weight: 600;
}
/* Sidebar toggle button positioning */
.sidebar-toggle {
  top: 90px; /* adjust this value as needed */
  transform: translateY(0);
}
